.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  position: sticky;
}
.header__linkslogo
{
  background:transparent;
  font-size: 2em;
  color: black;


}
.header__titlebox {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__titlebox h1 {
  font-size: 5em;
}
.header__linkbox {
  display: block;
  /* justify-content: center; */
  border: 2px solid black;
  box-shadow: 2px 3px 3px 2px white;
  border-radius: 2.7%;
  background-color: black;
  margin-bottom: 1em;
}

#header__link {
  font-size: 3em;
  margin-top: 50px;
  text-decoration: none;
  padding: 0.3em;
}
.header__link-home {
  margin-bottom: 0.5em;
}
.header__link-page2 {
  margin-bottom: 0.5em;
}
.header__link-contact {
  margin-bottom: 0.5em;
}
.feedbox {
  display: block;
  justify-content: center;
  padding: 3em;
}
.feedbox__imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6em;
}
.feedbox__imgbox img {
  width: 100%;
}
